@model RS181977_TB181979_desafío01.Models.CuentaBancaria

@{
    ViewBag.Title = "Delete";
}

<h2>Borrar</h2>

<h3>¿Estás seguro de que quieres eliminar esto?</h3>
<div>
    <h4>Cuenta Bancaria</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Clientes.nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clientes.nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoCuentaBancarias.Tipo_CuentaBancaria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoCuentaBancarias.Tipo_CuentaBancaria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Moneda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Moneda)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-danger" /> 
            @Html.ActionLink("Volver a la lista", "Index")
        </div>
    }
</div>
