@model IEnumerable<RS181977_TB181979_desafío01.Models.CuentaBancaria>

@{
    ViewBag.Title = "Index";
}

<center><h2>Lista de cuentas bancarias</h2></center>

<p>

    <button type="button" class="btn btn-dark"> @Html.ActionLink("Crear registro", "Create", null, new { style = "color: white" })</button>
</p>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Clientes.nombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoCuentaBancarias.Tipo_Transaccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Moneda)
        </th>
        <th>Operaciones</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Clientes.nombres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoCuentaBancarias.Tipo_Transaccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Moneda)
            </td>
            <td>
                <button type="button" class="btn btn-warning"> @Html.ActionLink("Editar", "Edit", new { id = item.id },new{ Style = "color: White" }) </button>

                <button type="button" style="color:white;" class="btn btn-info">@Html.ActionLink("Detalles", "Details", new { id = item.id }, new { Style = "color: White" }) </button>
                <button type="button" class="btn btn-danger"> @Html.ActionLink("Borrar", "Delete", new { id = item.id }, new { Style = "color: White" })</button>
            </td>
        </tr>
    }

</table>
